*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
}
main{
	        width: 70%;
			margin:auto;
			background: #fff;
			padding: 40px;
			display: flex;
			box-shadow: 0 0 20px 1px rgba(0,0,0, 1);
			flex-wrap: wrap;
			justify-content: center;
		}
		
.photo{
	width: calc(50% - 20px);
	height: calc((35vw - 20px) / 16 * 9);
	margin: 10px;
	background: orange;
	background-position: center;
	background-size: cover;
}
.photo:hover{
	opacity: 1;
	transform: scale(1.07) rotate(3deg);
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
}
	.photo1{
	background-image: url("../img/img1.jpg");
}
.photo2{
	background-image: url("../img/img2.jpg");
}
.photo3{
	background-image: url("../img/img3.jpg");
}
.photo4{
	background-image: url("../img/img4.jpg");
  }


h1{
		text-align:center;
        width: 100%;
        font-size: 48px;
        padding: 10px;

}